header {
	margin: 15px;
	font-family: 'Libre Barcode 128 Text', cursive;
}

header h1 a {
	color: black;
	text-decoration: none;
}

header nav ul li {
	display: inline-block;
	list-style: none;
	text-align: center;
	margin: 0 0 0 40px;
	font-size: 15px;
	font-weight: 600;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}


ul {
	text-align: center;
}

a {
	text-decoration: none;
	color: #6F4E37;
	font-weight: 600;
}

.navitems {
	text-align: center;
}

.glyphicon.glyphicon-map-marker {
	padding: 4px;
}

.menuoptions {
	display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 300;
}

.menuoptions strong {
	font-size: 20px;
    font-weight: 900;
    text-decoration: underline;
    display: block;
}

.abouttext {
	display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 300;
    margin-right: 20px;
    margin-left: 145px;
    line-height: 25px;
    
}

.abouttext strong {
	font-size: 20px;
    font-weight: 900;
    text-decoration: underline;
    display: block;
}

.main {
	font-size: 35px;
	font-weight: 600;
	font-family: 'Libre Barcode 128 Text', cursive;
	text-align: center;
	margin: 100px;
	/*word-wrap: break-word;
	width: 20em; */
}

body {
	background-image: url(../images/2coffees.jpg);
	width: 100%;
  	background-repeat: no-repeat;
  	background-size: 100% 200%;
}

footer p {
	text-align: center;
	padding: 5px;
	right: 5px;
    margin-left: -5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: -5px;
    color: #C86428;
    font-weight: 400;
    opacity: 0.8;
}

#prev {
	position: absolute;
    top: 28%;
    display: block;
    left: 17%;
    cursor: pointer;
    opacity: 0.8;
    font-family: 'Libre Barcode 128 Text', cursive;
    padding: 5px;
}

#next {
	position: absolute;
    top: 28%;
    display: block;
    right: 18%;
    cursor: pointer;
    opacity: 0.8;
    font-family: 'Libre Barcode 128 Text', cursive;
    padding: 5px;
}

.showModal {
	display: block !important;
}

nav .line {
    display: none;
}

.close {
    float: right;
    font-size: 70px;
    font-weight: 700;
    margin-right: 20px; 
}

@media screen and (max-width: 768px) and (min-width: 1080px) {

nav {
    width:100%;
    display: none;
}
body {
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 190%;
}
#prev {
    position: absolute;
    top: 30%;
    display: block;
    left: 15%;
}
#next {
    position: absolute;
    top: 30%;
    display: block;
    right: 15%;
}

} /*tablet css ends here*/



@media screen and (max-width:768px){ 

nav {
    width:100%;
    display: none;
}

#hamburger{
    position: relative;
    left: 100%;
    margin-left: -42px;
    margin-top: -40px;
}
a {
    line-height: 30px;
}

.show{
    display: block !important;
    height: 0;
    transition: height 0.3s;
}

ul{
    text-align: right !important;  
}
li{
    display: list-item !important;
    text-align: right !important;  
}

body {
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 190%;
}

.line {
    width: 3em;
    height: .3em;
    background: #6F4E37;
    border-radius: 1em;
    margin-top: .25em;
    display: block; 
    position: relative;
    cursor: pointer;
} 

#prev {
    position: absolute;
    top: 30%;
    display: block;
    left: 7%;
}

#next {
    position: absolute;
    top: 30%;
    display: block;
    right: 7%;
}
.menuoptions {
    left:1%;
    top: 40%;
    font-size: 12px;
}
.abouttext {
    left: 1%;
    top: 40%;
    text-align: center;
    font-size: 12px;
}
.quote {
    margin-top: 30%;
}
.showModal {
    display: block !important;
    position: absolute;
    top: 17%;
    bottom: 5%;
    left: 1.5%;
    right: 1.5%;
} /*mobile css ends here*/

@media screen and (min-width:1200px) { 
    
body {
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 220%;
}

}
